{{>header}}

<body>
    {{>navbar}}
    <!-- main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/0827CS201003.jpg" alt="AboutImage" class="img-fluid" title="WeatherApp" width="350px" height="350px">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to My Website</p>
                        <h1>I Am A <span class ="text_clr">Mern Stack Developer</span> And A Student</h1>
                        <a href="https://github.com/AanyaChourasiya?tab=repositories" target="_github">
                            <button>
                                ABOUT ME
                            </button>
                        </a>
                    </div>
                    <!-- right side div -->
                    <!-- <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>Get The Latest <span class ="text_clr">Weather</span> Info Of Your City</h1>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>
</html>